:80 {
  reverse_proxy https://dash-kong-proxy {
    transport http {
      tls_insecure_skip_verify
    }
    header_up Host {upstream_hostport}
    header_up Authorization "Bearer {$DASH_USER_TOKEN}"
  }
}
