name: Update Cachix Cache
concurrency:
  group: cache

on:
  push:
    branches:
      - main

jobs:
  update:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true

      - uses: cachix/cachix-action@v16
        with:
          name: lco-public
          extraPullNames: devenv
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipAddingSubstituter: true
          installCommand: 'nix profile install "github:cachix/cachix/v1.7.9" --accept-flake-config'

      - name: Build
        run: nix develop --impure
